<html>

<head>
  <meta charset="utf-8">
  <title>Lan Guardian</title>
  {% load static %}

  <!-- Bootstrap -->
  <link href="{% static 'LanGuardianApp/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

  <!-- Fuentes -->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400">

  <!-- Estilos -->
  <link rel="stylesheet" href="{% static 'LanGuardianApp/css/nicepage.css' %}" media="screen">

  <!-- Scripts -->
  <script class="u-script" type="text/javascript" src="{% static 'LanGuardianApp/js/jquery.js' %}" defer=""></script>
  <script class="u-script" type="text/javascript" src="{% static 'LanGuardianApp/js/nicepage.js' %}" defer=""></script>
  <script src="{% static 'LanGuardianApp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'LanGuardianApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</head>

<body class="u-body">
  <header class="u-clearfix u-header u-sticky u-sticky-d409 u-white u-header" id="sec-929c">
    <div class="u-clearfix u-sheet u-sheet-1">
      <h1 class="u-custom-font u-font-lobster u-text u-text-default u-text-palette-1-base u-text-1">Lan Guardian</h1>
      <a class="u-image u-logo u-image-1" data-image-width="121" data-image-height="134">
        <img src="{% static 'LanGuardianApp/img/escudo.png' %}" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse"
          style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 500;">
          <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-color u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-text-shadow u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
            href="#">
            <svg>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
            </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </symbol>
              </defs>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
            <li class="u-nav-item"><a
                class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white"
                href="/" style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white"
                href="/analisis/" style="padding: 10px 20px;">Analizar dispositivos</a>
            </li>
            <li class="u-nav-item"><a
                class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white"
                href="/categorias/" style="padding: 10px 20px;">Categorías NIST</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/"
                    style="padding: 10px 20px;">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/analisis/"
                    style="padding: 10px 20px;">Analizar dispositivos</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#"
                    style="padding: 10px 20px;">Categorías NIST</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  {% block content %}

  {% endblock %}

  <!--footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="#" class="link">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </p>
      <p class="m-0 mbt">
        <a href="sample.html" class="link">Política de privacidad</a> ·
        <a href="sample.html" class="link">Aviso legal</a> ·
        <a href="sample.html" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; LANGUARDIAN 2021</p>
    </div>
  </footer-->

</body>

</html>