<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'LanGuardianApp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'LanGuardianApp/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    <!--<h1 class="site-heading text-center text-white d-none d-lg-block">
      
        <span class="site-heading-lower">LANGUARDIAN</span>
      </h1>-->


 <!-- Navbar -->
 <!--<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'Inicio' %}">LANGUARDIAN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Inicio' %}">Inicio</a>
          </li>
          <!-<li class="nav-item {% if request.path == '/servicios' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="">Servicios</a>
          </li>
          <li class="nav-item {% if request.path == '/tienda' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="">Tienda</a>
          </li>->
          <li class="nav-item {% if request.path == '/analisis' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Analisis' %}">Analisis</a>
          </li>
          <!-<li class="nav-item {% if request.path|slice:':5' == '/blog' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="">Blog</a>
          </li>->
         
        </ul>
      </div>
    </div>
  </nav>-->
  <nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a  
               href="/" class="b-brand">
                <!--div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div-->
                <span class="b-title">Menú</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Análisis</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/analisis/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Escanear dispositivos</span></a>
                </li>
                <!--li class="nav-item pcoded-menu-caption">
                    <label>Seguridad</label>
                </li>
                <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Components</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="" class="">Button</a></li>
                        <li class=""><a href="" class="">Badges</a></li>
                        <li class=""><a href="" class="">Breadcrumb & paggination</a></li>
                        <li class=""><a href="" class="">Collapse</a></li>
                        <li class=""><a href="" class="">Tabs & pills</a></li>
                        <li class=""><a href="" class="">Typography</a></li>
                        <li class=""><a href="" class="">Feather<span class="pcoded-badge label label-danger">NEW</span></a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Documentación</label>
                </li>
                <li data-username="form elements advance componant validation masking wizard picker select" 
                    class="nav-item {% if 'ui-forms' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">CISCO</span></a>
                </li>
                <li data-username="Table bootstrap datatable footable" 
                    class="nav-item {% if 'ui-tables' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">NIST</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Links</label>
                </li>
                <li data-username="Charts Morris" 
                    class="nav-item {% if 'charts-morris' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a></li>
                <li data-username="Maps Google" 
                     class="nav-item {% if 'maps-google' in segment %} active {% endif %}">
                    <a href="" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a></li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Acerca de</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Autores</span></a>
                    <ul class="pcoded-submenu">
                        <li class=""><a href="" class="">Reset Pass</a></li>
                        <li class=""><a href="" class="">Login (template)</a></li>
                        <li class=""><a href="" class="">Register (template)</a></li>
                    </ul>
                </li>
                <li data-username="Sample Page" 
                    class="nav-item {% if 'page-blank' in segment %} active {% endif %}">
                    <a href="" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Privacidad</span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Legal</span></a></li>

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li-->
            </ul>
        </div>
    </div>
</nav>

    <!-- Contenido -->
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <!--h1 class="site-heading text-center text-black d-none d-lg-block">
          <span class="site-heading-lower">LANGUARDIAN</span>
        </h1-->
      {% block content %}

      {% endblock %}
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Política de privacidad</a> ·
        	<a href="sample.html" class="link">Aviso legal</a> ·
        	<a href="sample.html" class="link">Cookies</a>
		</p>
        <p class="m-0 mbt1">&copy; LANGUARDIAN 2021</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'LanGuardianApp/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'LanGuardianApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>