   {% extends "LanGuardianApp/base.html" %}

   {% load static %}

   {% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" style="float: right;" src="{% static 'LanGuardianApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">El guardian de sus dispositivos</span>
            <span class="section-heading-lower"></span>
          </h2>
          <p class="mb-3">La seguridad y proteger sus activos es lo que más nos importa
          </p>
         
        </div>
      </div>
    </div>
  </section>
  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Confidencialidad y compliance con NIST</span>
                <span class="section-heading-lower"></span>
              </h2>
              <p class="mb-0">Configure sus dispositivos en base al estándar NIST y evite brechas de ciberseguridad</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}