{% extends "LanGuardianApp/base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'LanGuardianApp/css/home.css' %}" rel="stylesheet" media="screen">
<section class="u-clearfix u-valign-middle u-section-1" id="carousel_9517">
  <div class="u-absolute-hcenter u-expanded u-palette-1-base u-shape u-shape-rectangle"></div>
  <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
    <div class="u-layout">
      <div class="u-layout-col">
        <div class="u-size-30">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1" src="">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-1"
                  src="{% static 'LanGuardianApp/img/ciberseguridad.jpg' %}" data-image-width="870"
                  data-image-height="520">
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-white u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-default u-text-1">Protección</h2>
                <p class="u-align-justify u-text u-text-2">Proteja sus dispositivos de red con Lan Guardian. Detecte las
                  vulnerabilidades a las que se encuentra expuesta su red empresarial y evite posibles ataques a sus
                  activos de información.</p>
                <a href="/analisis/" data-page-id="9107047"
                  class="u-btn u-btn-round u-button-style u-radius-7 u-btn-1">Analizar</a>
              </div>
            </div>
          </div>
        </div>
        <div class="u-size-30">
          <div class="u-layout-row">
            <div class="u-container-style u-grey-5 u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
              <div class="u-container-layout u-valign-middle u-container-layout-3">
                <h2 class="u-align-left u-text u-text-default u-text-3">Estandarización</h2>
                <p class="u-align-justify u-text u-text-4">Lan Guardian se encuentra alineado al marco de Ciberseguridad
                  del NIST, brindandole las mejores prácticas de configuración para sus dispositivos. Puede consultar
                  las
                  categorías analizadas por Lan Guardian y la documentación oficial del NIST.</p>
                <a href="/categorias/" data-page-id="2761723680"
                  class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-2">Categorías</a>
                <a href="https://www.nist.gov/system/files/documents/2018/12/10/frameworkesmellrev_20181102mn_clean.pdf"
                  target="_blank" data-page-id="2761723681"
                  class="u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-text-body-color u-btn-2">NIST
                  Framework</a>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4" src="">
              <div class="u-container-layout u-valign-middle u-container-layout-4">
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-2"
                  src="{% static 'LanGuardianApp/img/NIST.jpg' %}" data-image-width="840" data-image-height="529">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}