.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-tabs-1 {
  min-height: 603px;
  width: 1260px;
  height: auto;
  margin: 60px -60px -7px;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
}

.u-section-1 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
}

.u-section-1 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
}

.u-section-1 .u-tab-item-4 {
  margin-bottom: 5px;
  margin-top: 0;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
}

.u-section-1 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px auto 0 30px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1200px;
  margin: 20px auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.875rem;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px 970px 0 30px;
}

.u-section-1 .u-line-3 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-1 .u-line-4 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-2 {
  width: 1200px;
  background-image: none;
  margin: 20px auto;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px 970px 0 30px;
}

.u-section-1 .u-line-5 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 20px 30px 0;
}

.u-section-1 .u-line-6 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-3 {
  width: 1200px;
  background-image: none;
  margin: 20px auto;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-3 {
  font-size: 0.875rem;
}

.u-section-1 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 60px 970px 0 30px;
}

.u-section-1 .u-line-7 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 20px 30px 0;
}

.u-section-1 .u-line-8 {
  height: 3px;
  transform-origin: left center 0px;
  width: 1200px;
  margin: 20px auto 0;
}

.u-section-1 .u-table-4 {
  width: 1200px;
  background-image: none;
  margin: 20px auto;
}

.u-section-1 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-4 {
  font-size: 0.875rem;
}

.u-block-ba9e-211 {
  height: 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-tabs-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 940px;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    height: 817px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 724px;
  }

  .u-section-1 .u-line-3 {
    width: 940px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-4 {
    width: 940px;
  }

  .u-section-1 .u-table-2 {
    width: 940px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 724px;
  }

  .u-section-1 .u-line-5 {
    width: 940px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-6 {
    width: 940px;
  }

  .u-section-1 .u-table-3 {
    width: 940px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 724px;
  }

  .u-section-1 .u-line-7 {
    width: 940px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-8 {
    width: 940px;
  }

  .u-section-1 .u-table-4 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-tabs-1 {
    width: 720px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 555px;
  }

  .u-section-1 .u-line-3 {
    width: 720px;
  }

  .u-section-1 .u-line-4 {
    width: 720px;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 555px;
  }

  .u-section-1 .u-line-5 {
    width: 720px;
  }

  .u-section-1 .u-line-6 {
    width: 720px;
  }

  .u-section-1 .u-table-3 {
    width: 720px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 555px;
  }

  .u-section-1 .u-line-7 {
    width: 720px;
  }

  .u-section-1 .u-line-8 {
    width: 720px;
  }

  .u-section-1 .u-table-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    width: 540px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 416px;
  }

  .u-section-1 .u-line-3 {
    width: 540px;
  }

  .u-section-1 .u-line-4 {
    width: 540px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 416px;
  }

  .u-section-1 .u-line-5 {
    width: 540px;
  }

  .u-section-1 .u-line-6 {
    width: 540px;
  }

  .u-section-1 .u-table-3 {
    width: 540px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 416px;
  }

  .u-section-1 .u-line-7 {
    width: 540px;
  }

  .u-section-1 .u-line-8 {
    width: 540px;
  }

  .u-section-1 .u-table-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 262px;
  }

  .u-section-1 .u-line-3 {
    width: 340px;
  }

  .u-section-1 .u-line-4 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 262px;
  }

  .u-section-1 .u-line-5 {
    width: 340px;
  }

  .u-section-1 .u-line-6 {
    width: 340px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 262px;
  }

  .u-section-1 .u-line-7 {
    width: 340px;
  }

  .u-section-1 .u-line-8 {
    width: 340px;
  }

  .u-section-1 .u-table-4 {
    width: 340px;
  }
}