.u-section-1 {
  background-image: none;
  min-height: 853px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + -61px);
}

.u-section-1 .u-tabs-1 {
  min-height: 585px;
  height: auto;
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-1 .u-tab-list-1 {
  background-image: none;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 475px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.75rem;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-tabs-2 {
  min-height: 475px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-tab-list-2 {
  background-image: none;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
}

.u-section-1 .u-tab-link-5 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 0;
}

.u-section-1 .u-list-1 {
  width: 548px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 375px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-pane-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.75rem;
}

.u-section-1 .u-custom-html-1 {
  min-height: 25px;
  margin: -463px 482px 0 133px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 25px;
  margin: -25px 225px 0 381px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 25px;
  margin: -25px 12px 0 603px;
}

.u-section-1 .u-tab-pane-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1080px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 475px;
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-tabs-3 {
  min-height: 475px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-tab-list-3 {
  background-image: none;
}

.u-section-1 .u-tab-link-6 {
  background-image: none;
}

.u-section-1 .u-tab-link-7 {
  background-image: none;
}

.u-section-1 .u-tab-link-8 {
  background-image: none;
}

.u-section-1 .u-tab-pane-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-pane-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-tab-pane-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -585px calc(((100% - 1140px) / 2) + -18px) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-1 .u-tabs-2 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 486px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 374px;
    margin-left: 56px;
    width: 20px;
    height: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-right: 148px;
    margin-left: 304px;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    margin-right: 0;
    margin-left: 461px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 413px;
  }

  .u-section-1 .u-tabs-3 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 200px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 372px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 268px;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 91px;
    margin-left: 247px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 347px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 600px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 446px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 800px);
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 138px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-left: 147px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 1140px) / 2) + 246px);
  }
}