{% extends "LanGuardianApp/base.html" %}
{% load static %}
{% block content %}
<script class="u-script" type="text/javascript" src="{% static 'LanGuardianApp/js/formsmgmt.js' %}" defer=""></script>

<section class="u-clearfix u-palette-1-base u-section-1" id="sec-89a6">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-custom-font u-text u-text-default u-text-font u-text-1">Dispositivos</h4>
        <div class="u-expanded-width u-form u-form-1">
            <form id="dispo" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" source="custom" name="form" style="padding: 10px;">
                {% csrf_token %}
                {{miform.management_form}}
                <input name="prefix-INITIAL_FORM_COUNT" value="1" type="hidden">
                <input name="prefix-TOTAL_FORM_COUNT" value="1" type="hidden">

                <fieldset disabled class="empty-form" style="display: none">
                    <fieldset>
                        <div class="u-form-group u-form-name">
                            <input type="text" placeholder="Dirección ip" id="id_prefix-__prefix__-ip"
                                name="prefix-__prefix__-ip"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white"
                                required="">
                        </div>
                        <div class="u-form-email u-form-group">
                            <input type="text" placeholder="Usuario" id="id_prefix-__prefix__-usuario"
                                name="prefix-__prefix__-usuario"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white"
                                required="">
                        </div>
                        <div class="u-form-group u-form-group-3">
                            <input type="password" placeholder="Clave" id="id_prefix-__prefix__-clave"
                                name="prefix-__prefix__-clave"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white">
                        </div>
                        <div class="u-form-group u-form-group-4">
                            <input type="password" placeholder="Clave Enable " id="id_prefix-__prefix__-enab"
                                name="prefix-__prefix__-enab"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white">
                        </div>
                        <div class="u-form-group u-form-select u-form-group-5">
                            <div class="u-form-select-wrapper">
                                <select id="id_prefix-__prefix__-protocolo" name="prefix-__prefix__-protocolo"
                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white"
                                    required="required">
                                    <option value="SSH">SSH</option>
                                    <option value="Telnet">Telnet</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                    class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>

                        <button type="button" data-formset-remove-form>
                            X
                        </button>
                    </fieldset>
                </fieldset>

                <fieldset class="forms">
                    <fieldset>
                        <div class="u-form-group u-form-name">
                            <input type="text" placeholder="Dirección ip" id="id_prefix-0-ip" name="prefix-0-ip"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white"
                                required="">
                        </div>
                        <div class="u-form-email u-form-group">
                            <input type="text" placeholder="Usuario" id="id_prefix-0-usuario" name="prefix-0-usuario"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white"
                                required="">
                        </div>
                        <div class="u-form-group u-form-group-3">
                            <input type="password" placeholder="Clave" id="id_prefix-0-clave" name="prefix-0-clave"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white">
                        </div>
                        <div class="u-form-group u-form-group-4">
                            <input type="password" placeholder="Clave Enable " id="id_prefix-0-enab" name="prefix-0-enab"
                                class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white">
                        </div>
                        <div class="u-form-group u-form-select u-form-group-5">
                            <div class="u-form-select-wrapper">
                                <select id="id_prefix-0-protocolo" name="prefix-0-protocolo"
                                    class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-10 u-white"
                                    required="required">
                                    <option value="SSH">SSH</option>
                                    <option value="Telnet">Telnet</option>
                                </select>
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"
                                    class="u-caret">
                                    <path fill="currentColor" d="M4 8L0 4h8z"></path>
                                </svg>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>

                <fieldset class="controls">
                    <button type="button" data-formset-add-form>
                        Agregar dispositivo
                    </button>
                    <button type="submit" class="btn btn-primary"
                        style="width: 200px; margin-top: 20px;">Escanear</button>

                </fieldset>

            </form>

            <!-- Add some space here, so that the buttons don't get hidden -->
            <!-- when we add new rows when embedded -->

            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>

<!--script>
    let birdForm = document.querySelectorAll(".dispositivos-form")
    let container = document.querySelector("#form-containerr")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = birdForm.length - 1 //Get the number of the last form on the page with zero-based indexing
    addButton.addEventListener('click', addForm)

    function addForm(e) {
        e.preventDefault()

        let newForm = birdForm[0].cloneNode(true) //Clone the bird form
        let formRegex = RegExp(`form-(\\d){1}-`, 'g') //Regex to find all instances of the form number

        formNum++ //Increment the form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
        container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms

        totalForms.setAttribute('value', `${formNum + 1}`) //Increment the number of total forms in the form management
    }
</script-->
{% endblock %}