{% extends "LanGuardianApp/base.html" %}
{% load static %}
{% block content %}

<link href="{% static 'LanGuardianApp/css/analisis.css' %}" rel="stylesheet" media="screen">
{% for message in messages %}
<div class="container-fluid p-0">
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
</div>
{% endfor %}
<section class="u-clearfix u-palette-1-base u-section-1" id="sec-89a6">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-custom-font u-text u-text-font u-text-1">Dispositivos</h4>
        <div class="u-form u-form-1">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <table class="table">
                    {{ miform.management_form }}

                    {% for form in miform.forms %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                            <th style="color: white; ">{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    {% endif %}
                    <tr class="formset_row">
                        {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <br><br>
                <button type="submit"
                    class="u-align-center u-border-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-4-base u-btn-3">Escanear</button>
            </form>

        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Agregar dispositivo',
        deleteText: 'Quitar',
    });
</script>
{% endblock %}